USE [master]
GO
/****** Object:  Database [JSL]    Script Date: 02/07/2021 21:03:16 ******/
CREATE DATABASE [JSL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JSL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\JSL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JSL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\JSL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JSL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JSL]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02/07/2021 21:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Motorista]    Script Date: 02/07/2021 21:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motorista](
	[Id] [uniqueidentifier] NOT NULL,
	[PrimeiroNome] [varchar](50) NULL,
	[UltimoNome] [varchar](50) NULL,
	[Caminhao_Marca] [varchar](50) NULL,
	[Caminhao_Modelo] [varchar](50) NULL,
	[Caminhao_Placa] [varchar](50) NULL,
	[Caminhao_Eixos] [int] NULL,
	[Descricao] [varchar](100) NULL,
	[Logradouro] [varchar](100) NULL,
	[Numero] [varchar](100) NULL,
	[Bairro] [varchar](100) NULL,
	[Municipio] [varchar](100) NULL,
	[Estado] [varchar](100) NULL,
	[CEP] [varchar](100) NULL,
 CONSTRAINT [PK_Motorista] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viagem]    Script Date: 02/07/2021 21:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viagem](
	[Id] [uniqueidentifier] NOT NULL,
	[MotoristaId] [varchar](100) NOT NULL,
	[DataHoraViajem] [datetime] NOT NULL,
	[LocalEntrega] [varchar](50) NOT NULL,
	[LocalSaida] [varchar](50) NOT NULL,
	[Km] [float] NOT NULL,
 CONSTRAINT [PK_Viagem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
